h1 {
  text-align: center;
  /* aligning heading to the center */
  font-family: 'courier new', monospace;
  /* chosen courier new for a minimalistic look */
  font-size: 2.5em;
  /* set heading size to 2.5em; feels good enough */

}

.subheading {
  text-align: center;
  /* aligning subheading to the center */
  font-family: 'courier new', monospace;
  /* chosen courier new as well to maintain consistent look */
  font-size: 1.5em;
  /* set subheading size to 1.5em; feels appropriate */
}